body{
    margin:0;
    overflow:hidden;
    font-family:Arial;
    background:#3b240b;
}

#game{
    width:100vw;
    height:100vh;
    position:relative;
    background:url("https://images.unsplash.com/photo-1511512578047-dfb367046420?q=80&w=1200") center/cover;
}

.enemy{
    position:absolute;
    color:white;
    text-align:center;
}

.top{
    top:10px;
    left:50%;
    transform:translateX(-50%);
}

.left{
    left:10px;
    top:50%;
    transform:translateY(-50%);
}

.right{
    right:10px;
    top:50%;
    transform:translateY(-50%);
}

.enemy-name{
    margin-bottom:10px;
    font-size:22px;
    font-weight:bold;
}

.enemy-cards{
    display:flex;
}

.vertical{
    flex-direction:column;
}

.back-card{
    width:50px;
    height:70px;
    background:#eee;
    border:2px solid white;
    border-radius:8px;
    margin-left:-30px;
}

.vertical .back-card{
    margin-top:-45px;
    margin-left:0;
}

#myCards{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    height:160px;
    width:100%;
}

.card{
    width:80px;
    height:120px;
    background:white;
    border-radius:10px;
    border:2px solid black;
    position:absolute;
    bottom:0;
    text-align:center;
    line-height:120px;
    font-size:32px;
    font-weight:bold;
    transition:0.2s;
    user-select:none;
}

.red{
    color:red;
}

.selected{
    transform:translateY(-30px);
}

#centerArea{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

#playedCards{
    min-height:140px;
    min-width:300px;
}

.center-card{
    width:80px;
    height:120px;
    background:white;
    border-radius:10px;
    border:2px solid black;
    display:inline-block;
    margin:5px;
    line-height:120px;
    font-size:32px;
    font-weight:bold;
}

button{
    margin:10px;
    padding:15px 30px;
    font-size:22px;
    border:none;
    border-radius:15px;
}

#playBtn{
    background:#4caf50;
    color:white;
}

#passBtn{
    background:#f44336;
    color:white;
}
